<h1>Search Results</h1>
<p><%= pluralize(@products.size, 'result') %> for "<%= @terms %>"</p>

<ul>
  <% @products.each do |product| %>
    <li>
      <p><%= image_tag product.image.url(:thumb) %></p>
      <p><%= link_to product.name, product %></p>
    </li>
  <% end %>
</ul>
