<% if @user.province.hst_rate != 0 %>
  <p>Estimated GST/HST:
    <span class="ks-pink-txt float-right">
      <%= number_to_currency(@cart_products.sum(&:price) * (@user.province.hst_rate / 100)) %>
    </span>
  </p>
  <%= render partial: 'total', locals: { hst: true } %>
<% else %>
  <p>Estimated GST/HST:
    <span class="ks-pink-txt float-right">
      <%= number_to_currency(@cart_products.sum(&:price) * (@user.province.country.gst_rate / 100)) %>
    </span>
  </p>
  <%= render partial: 'total', locals: { hst: false } %>
<% end %>